h1{
  font-family: Lucida Console, Lucida, Monospace;
  color: #205530;
  text-align: center;
}
tester{
  text-align: center;
}
body{
  background-color: #b4dada;
  
  background-size: 1600px 900px;
}